<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Selector</title>
    <link rel="stylesheet" href="./dist/css/main.css" />
</head>
<body>
    <header>
        <h1>Ey there! This is a Layout Selector! Enjoy!</h1>
        <p>I created this page as an exercise. Click the button and see.</p>
        <a href="#gyumik"><button id="down"></button></a>
    </header>
    <div class="container" id="gyumik">
        <h1>Try This:</h1>
        <div class="layoutbuttons">
            <div class="buttoncontain">
                <button id="fourinrow">4 in row</button>
            </div>
            <div class="buttoncontain">
                <button id="twoinrow">2 in row</button>
            </div>
            <div class="buttoncontain">
                <button id="oneinrow">1 in row</button>
            </div>
        </div>
        <div class="fruitcontain">
            <div class="artcontain1">
                <img src="./img/orange.jpg">
                <h2>Annoying Orange</h2>
                <p>It's just a photo of an orange, nothing special.</p>
            </div>
            <div class="artcontain1">
                <img src="./img/orange.jpg">
                <h2>Annoying Orange</h2>
                <p>It's just a photo of an orange, nothing special.</p>
            </div>
            <div class="artcontain1">
                <img src="./img/orange.jpg">
                <h2>Annoying Orange</h2>
                <p>It's just a photo of an orange, nothing special.</p>
            </div>
            <div class="artcontain1">
                <img src="./img/orange.jpg">
                <h2>Annoying Orange</h2>
                <p>It's just a photo of an orange, nothing special.</p>
            </div>
            <div class="artcontain1">
                <img src="./img/orange.jpg">
                <h2>Annoying Orange</h2>
                <p>It's just a photo of an orange, nothing special.</p>
            </div>
            <div class="artcontain1">
                <img src="./img/orange.jpg">
                <h2>Annoying Orange</h2>
                <p>It's just a photo of an orange, nothing special.</p>
            </div>
            <div class="artcontain1">
                <img src="./img/orange.jpg">
                <h2>Annoying Orange</h2>
                <p>It's just a photo of an orange, nothing special.</p>
            </div>
            <div class="artcontain1">
                <img src="./img/orange.jpg">
                <h2>Annoying Orange</h2>
                <p>It's just a photo of an orange, nothing special.</p>
            </div>
        </div>
    </div>
    <script src="./button.js"></script>
</body>
</html>