* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

html, body {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  color: white;
  margin: 0 auto;
  letter-spacing: 2px;
  padding: 0;
}

.container-box {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: -1000;
}

.background {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container {
  display: block;
  width: 75%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.button {
  visibility: hidden;
  position: fixed;
  top: 1%;
  right: 2%;
  background: transparent;
  color: lightgray;
  height: 35px;
  letter-spacing: 5px;
  cursor: pointer;
  font-size: 25px;
}

.meglog {
  position: relative;
  -webkit-animation: jump 0.5s linear;
          animation: jump 0.5s linear;
  visibility: hidden;
}

@-webkit-keyframes jump {
  0% {
    opacity: 0.3;
    left: 3%;
    visibility: visible;
  }
  100% {
    opacity: 0;
    left: -30%;
    visibility: hidden;
  }
}

@keyframes jump {
  0% {
    opacity: 0.3;
    left: 3%;
    visibility: visible;
  }
  100% {
    opacity: 0;
    left: -30%;
    visibility: hidden;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

nav {
  -webkit-animation: appear 3s;
          animation: appear 3s;
}

.navbar {
  text-align: left;
  position: fixed;
  background: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 55px;
  width: 100%;
  top: 0%;
  line-height: 50px;
  font-size: 1.4em;
  color: #fdf6ef;
  opacity: 0.7;
  z-index: 900;
}

.navbar:hover {
  opacity: 1;
}

.navbar-left {
  text-align: center;
  position: fixed;
  background: transparent;
  top: 25%;
  left: 2%;
  line-height: 50px;
  -webkit-animation: appear 1s;
          animation: appear 1s;
  font-size: 1.6em;
  letter-spacing: 5px;
  opacity: 1;
  z-index: 1000;
}

.navbar-left ul {
  background-color: transparent;
}

.navbar-left ul li {
  display: block;
}

.navbar-left li a:hover {
  text-shadow: 8px 11px 3px black,  -40px 50px 4px black,  40px 105px 10px black;
}

ul {
  background-color: #06081f;
  padding: 0px 8px 2px 8px;
}

ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  color: white;
  text-shadow: 0px 2px 3px black;
  font-weight: bold;
}

ul li a:hover {
  color: white;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
  opacity: 1;
  -webkit-animation: appear 1s;
          animation: appear 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.intro {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.intro p {
  position: relative;
  padding-top: 20%;
  width: 50%;
  margin: 0 auto;
  font-size: 2.6em;
  line-height: 45px;
  text-shadow: 0px 2px 3px black;
  font-weight: bold;
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation: shadow 8s infinite ease-in-out;
          animation: shadow 8s infinite ease-in-out;
  line-height: 50px;
  opacity: 0.8;
}

@-webkit-keyframes shadow {
  0% {
    text-shadow: 30px 10px 15px black,  10px 10px 7px black,  10px -10px 10px black,  10px -40px 35px black;
  }
  50% {
    text-shadow: -30px 10px 15px black,  -10px 10px 7px black,  -10px -10px 10px black,  -10px -46px 35px black;
  }
  100% {
    text-shadow: 30px 10px 15px black,  10px 10px 7px black,  10px -10px 10px black,  10px -40px 35px black;
  }
}

@keyframes shadow {
  0% {
    text-shadow: 30px 10px 15px black,  10px 10px 7px black,  10px -10px 10px black,  10px -40px 35px black;
  }
  50% {
    text-shadow: -30px 10px 15px black,  -10px 10px 7px black,  -10px -10px 10px black,  -10px -46px 35px black;
  }
  100% {
    text-shadow: 30px 10px 15px black,  10px 10px 7px black,  10px -10px 10px black,  10px -40px 35px black;
  }
}

.about-info {
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding-top: 20%;
  padding-bottom: 10%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  will-change: opacity;
}

.about-info .aboutarticle {
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0 auto;
  width: 70%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #24234d), to(transparent));
  background-image: linear-gradient(to right, transparent, #24234d 50%, transparent);
}

.about-info .aboutarticle article h1 {
  margin-bottom: 5%;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  -webkit-animation: shadow 8s infinite ease-in-out;
          animation: shadow 8s infinite ease-in-out;
}

.about-info .aboutarticle article p {
  text-align: center;
  line-height: 50px;
  font-size: 1.6em;
  -webkit-animation: shadow 8s infinite ease-in-out;
          animation: shadow 8s infinite ease-in-out;
}

.about-info.is-visible {
  opacity: 1;
}

.skills-info {
  padding-top: 8%;
  margin-top: 5%;
  margin-bottom: 10%;
  height: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  text-align: center;
  position: relative;
}

.skills-info p:nth-child(1) {
  width: 80%;
  font-size: 1.6em;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  -webkit-animation: shadow 8s infinite;
          animation: shadow 8s infinite;
}

.skills-info p:nth-child(2) {
  font-size: 1.8em;
  margin-bottom: 2%;
  -webkit-animation: shadow 8s infinite;
          animation: shadow 8s infinite;
}

.skills-info .artcontain {
  margin: auto;
  display: block;
  position: relative;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10%;
  width: 80%;
  border-radius: 1%;
  -webkit-transition: 2s;
  transition: 2s;
  opacity: 1;
  padding: 15px;
  text-shadow: 4px 4px 3px black;
}

.skills-info .artcontain:hover:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1);
  z-index: 1000;
}

.skills-info .artcontain h1 {
  display: inline-block;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  letter-spacing: 5px;
  margin-top: 50px;
}

.skills-info .artcontain article p {
  display: inline-block;
  font-size: 1.2em;
  text-shadow: 2px 2px 1px black;
  -webkit-animation: none;
          animation: none;
}

.contact-info {
  position: relative;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 2%;
}

.contact-info .icons {
  margin: auto;
  width: 400px;
  padding: 10px;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.contact-info .icons a img {
  margin: auto;
  height: 50px;
  width: 50px;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: transparent;
}

.contact-info p {
  font-size: 1.4em;
  margin-bottom: 10px;
  margin-top: 10px;
}

.contact-info .form-control {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: auto;
  display: block;
  width: 55%;
  margin-top: 5%;
  padding-bottom: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(transparent), to(#2e1638));
  background-image: linear-gradient(to bottom, transparent, transparent, #2e1638);
  border: 5px solid;
  -o-border-image: linear-gradient(to bottom, transparent, transparent, #1e1435 50%) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(transparent), color-stop(50%, #1e1435)) 1;
     border-image: linear-gradient(to bottom, transparent, transparent, #1e1435 50%) 1;
  border-top: none;
}

.contact-info .form-control input {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 1.2em;
  padding: 5px;
  background-color: #07163a;
  color: white;
  border: 2px solid #2e1638;
  text-align: center;
  outline: none;
}

.contact-info .form-control input::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
}

.contact-info .form-control input:-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
}

.contact-info .form-control input::-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
}

.contact-info .form-control input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
}

.contact-info .form-control textarea {
  margin-top: 5px;
  width: 100%;
  resize: none;
  font-family: 'Poppins', sans-serif;
  padding: 15px;
  background-color: #07163a;
  color: #bfe9f3;
  outline: none;
  font-size: 1.4em;
  text-shadow: 4px 2px 2px black, -4px 2px 2px black;
  text-align: center;
  border: none;
  border-top: 2px solid #2e1638;
}

.formdivs.error input {
  border: 2px #ffa052 solid;
}

.formdivs.success input {
  border: 3px #3c114d solid;
}

.formdivs small {
  visibility: hidden;
  color: #ffa052;
  font-size: 1em;
  font-weight: bold;
}

.formdivs.error small {
  visibility: visible;
}

.circlediv {
  display: inline-block;
  border-radius: 50%;
  margin: 10px 10px 10px 10px;
  height: 50px;
  width: 50px;
}

.circlediv:hover {
  background-color: #3c114d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sqrdiv {
  text-align: center;
  display: inline-block;
  border-radius: 25%;
  margin: 10px 10px 10px 10px;
  height: 50px;
  width: 50px;
}

.sqrdiv:hover {
  background-color: #3c114d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.egyebdiv {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#submitform {
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  height: 50px;
  width: 100px;
  margin-top: 10px;
  background-color: #011f65;
  color: lightgray;
  border: none;
  outline: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-shadow: 2px 2px 2px #141414;
          box-shadow: 2px 2px 2px #141414;
}

#submitform:active {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: white;
  font-weight: bold;
  -webkit-transform: translate3d(2px, 2px, 2px);
          transform: translate3d(2px, 2px, 2px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.works-info {
  height: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works-info h1 {
  text-shadow: 2px 2px 2px black;
  padding-top: 10%;
  margin-bottom: 5%;
  vertical-align: middle;
}

.works-info a {
  text-decoration: none;
  display: block;
  font-size: 1.6em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  color: white;
  text-shadow: 1px 1px 1px black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.works-info a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  color: burlywood;
}

@media (max-width: 991.98px) {
  /*--------------- DROPDOWN --------------------------*/
  .button {
    visibility: visible;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 4px solid #9df0f0;
    background-color: transparent;
  }
  .navbar {
    position: fixed;
    letter-spacing: 3px;
    top: 0%;
    right: 0%;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    background-color: black;
    opacity: 0.6;
  }
  .navbar-left {
    position: fixed;
    letter-spacing: 3px;
    left: unset;
    top: 0%;
    right: 0%;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    background-color: black;
    opacity: 0.9;
  }
  ul {
    border: none;
    background-color: transparent;
  }
  .navbar-left ul {
    background-color: transparent;
  }
  .navbar nav li {
    display: none !important;
  }
  .navbar-left nav li {
    display: none !important;
  }
  .navbar:hover nav ul {
    background-color: black;
    opacity: 0.9;
  }
  .navbar:hover nav ul li {
    display: block !important;
  }
  .navbar-left:hover ul {
    background-color: black;
    opacity: 0.9;
  }
  .navbar-left:hover ul li {
    display: block !important;
  }
  /*----------------THE REST-------------------------------*/
  .background {
    -o-object-position: -30vh;
       object-position: -30vh;
    margin: auto;
  }
  .about-info {
    opacity: 1 !important;
  }
  * {
    -webkit-animation: none !important;
            animation: none !important;
  }
  .container {
    width: 100%;
  }
  .meglog {
    -webkit-animation: none !important;
            animation: none !important;
    visibility: visible !important;
  }
  .navbar-left li a:hover {
    text-shadow: none !important;
  }
  li a:hover {
    text-shadow: none;
  }
  .intro p {
    font-size: 1.4em;
    width: 90%;
    padding: 0;
    margin-top: 30%;
    margin: 0 auto;
  }
  .about-info .aboutarticle {
    width: 90%;
    margin: auto;
  }
  .about-info .aboutarticle article h1 {
    text-align: center;
    font-size: 1.8em;
    font-weight: bolder;
    -webkit-animation: shadow 8s infinite ease-in-out;
            animation: shadow 8s infinite ease-in-out;
  }
  .about-info .aboutarticle article p {
    text-align: center;
    line-height: 50px;
    font-size: 1.5em;
    -webkit-animation: shadow 8s infinite ease-in-out;
            animation: shadow 8s infinite ease-in-out;
  }
  .skills-info {
    margin-top: 15%;
  }
  .skills-info p {
    font-size: 1.2em;
  }
  .skills-info .artcontain {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0px;
    padding: 15px;
    display: inline-block;
    opacity: 1;
    background-image: none;
    font-weight: bold;
  }
  .skills-info .artcontain h1 {
    display: block;
    font-size: 1.5em;
    margin: 0;
    text-shadow: 2px 2px 1px black;
  }
  .skills-info .artcontain article p {
    font-size: 1.1em;
    margin: 0;
    text-shadow: 2px 2px 1px black;
  }
  .contact-info {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    margin-top: 5%;
  }
  .form-control {
    width: 80%;
  }
}

@media (max-width: 767.98px) {
  .background {
    -o-object-position: -30vh;
       object-position: -30vh;
  }
  .container {
    width: 100%;
  }
  .intro p {
    margin-top: 60%;
  }
  .about-info .aboutarticle {
    width: 100%;
  }
  .about-info .aboutarticle article h1 {
    font-size: 1.5em;
  }
  .about-info .aboutarticle article p {
    font-size: 1.2em;
  }
  .skills-info p {
    font-size: 1.2em;
  }
  .contact-info {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 3%;
  }
  .contact-info form .form-control {
    width: 100%;
    margin: 0;
  }
  .contact-info form .form-control textarea {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=style.css.map */