/*  GLOBAL STUFF */
*{
    box-sizing: border-box;
    margin: 0 auto;
}

html{
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
    font-family: 'Merriweather', serif;
}
body{
    color:white;
    margin: 0 auto;
    letter-spacing: 2px;
    padding: 0;
    height: 100%;
    width: 100%;

}
.container-box{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: -1000;
}
.background{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    transition: 0.5s;
}

.container{
    display: block;
    width: 75%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    
}

.button{
    position: fixed;
    top: 5%;
    right: 0%;
    background: transparent;
    color: lightgray;
    height: 35px;
    width: 300px;
    letter-spacing: 5px;
    cursor: pointer;
    font-size: 25px;
    font-family: inherit;
    border: none;
    outline: none;
    animation: appear 0.5s;
    visibility: hidden;
}
.button:active{
    border: none;
    outline: none;
}

.button:hover{
    animation: spacing 0.5s;
}

a{
    text-decoration: none; 
    color: white;
    text-shadow: 0px 2px 3px black;
    font-weight: bold;
}

.meglog{
    position: relative;
    animation: jump 0.5s linear;
    visibility: hidden;
}

@keyframes jump{
    0%{
        opacity: 0.3;
        left: 3%;
        visibility: visible;}
    100%{
        opacity: 0; 
        left:-30%;
        visibility: hidden;
    }
}   

@keyframes appear{
    0%{opacity: 0;
    visibility: hidden;}
    100%{opacity: 1;
        visibility: visible;
    }
}

/*   SECTIONS */ 

/* ------- NAV FIXED */

nav{
    animation: appear 3s;
}

.navbar{
    text-align: center;
    position: fixed;
    background: transparent;
    transition: 0.5s;
    height: 55px;  
    width: 100%;
    top: 0%;
    line-height: 50px;
    font-size: 1.4em;
    color: rgb(253, 246, 239);
    letter-spacing: 3px;
    opacity: 0.7;
    z-index: 1000;

}
.navbar-left{
    text-align: center;
    position: fixed;
    background: transparent;
    top: 25%;
    left: 1%;
    line-height: 50px;
    animation: appear 2s;
    font-size: 1.6em;
    letter-spacing: 5px;
    opacity: 1;
    z-index: 1000;
}
.navbar-left ul{
    background-color: transparent;
}
.navbar-left li{
    display: block;
}
.navbar-left li a:hover{
    text-shadow: 8px 11px 3px black, 
    -40px 50px 4px black, 
    40px 105px 10px black;
}

ul{
    background-color:rgb(6, 8, 31);
    padding:0px 8px 2px 8px;
}
li{
    list-style: none;
    display: inline-block;
    padding: 0px 10px 0px 10px;

}
li a:hover{
    color:white;
    transition: 1.5s ease-in-out;
    opacity: 1;
    animation: spacing 1s;
    animation-fill-mode: forwards;
}
@keyframes spacing{
    0%{letter-spacing: 3px;}
    50%{letter-spacing: 2px;}
    100%{letter-spacing: 5px;}
}


/*-----------HEYRO */

.intro{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.intro p{
    position: relative;
    padding-top: 20%;
    width: 50%;
    margin: 0 auto;
    font-size: 2.6em;
    line-height: 45px;
    text-shadow: 0px 2px 3px black;
    font-weight: bold;
    animation: appear 2s;
    animation: shadow 8s infinite ease-in-out;
    line-height: 50px;
    opacity: 0.8;
}
@keyframes shadow{
    0%{text-shadow: 30px 10px 15px black, 
                    10px 10px 7px black, 
                    10px -10px 10px black, 
                    10px -40px 35px black;}
    50%{text-shadow:-30px 10px 15px black, 
                    -10px 10px 7px black, 
                    -10px -10px 10px black, 
                    -10px -46px 35px black;}
    100%{text-shadow:   30px 10px 15px black, 
                        10px 10px 7px black, 
                        10px -10px 10px black, 
                        10px -40px 35px black;}
}



/*---------ABOUT-------------------*/

.about-info{
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
    min-height: fit-content;
    padding-top: 20%;
    padding-bottom: 10%;
    opacity: 0;
    transition: opacity 1s;
    will-change: opacity;
}
.about-info.is-visible{
    opacity: 1;
}

.aboutarticle{
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0 auto;
    width: 70%;
    background-image: linear-gradient(to right,
    transparent,
    rgb(36, 35, 77) 50%,
    transparent 
);
}

.about-info article h1{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    animation: shadow 8s infinite ease-in-out;
}

.about-info article p{
    text-align: center;
    line-height: 50px;
    font-size: 1.6em;
    animation: shadow 8s infinite ease-in-out;
}


/*----------BGKEP-------------*/


/*---------------SKILLS ------------------------*/

.skills-info{
    padding-top: 8%;
    margin-top: 5%;
    margin-bottom: 10%;
    height: 100%;
    min-height: fit-content;
    text-align: center;
    position: relative;
}
.skills-info p:nth-child(1){
    width: 80%;
    font-size: 1.6em;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    animation: shadow 8s infinite;
}
.skills-info p:nth-child(2){
    font-size: 1.8em;
    margin-bottom: 6%;
    animation: shadow 8s infinite;

}
.artcontain{    
    margin: auto;
    display: inline-flex;
    position: relative;
    text-align: center;
    justify-content: center;
    height: 200px;
    width: 20%;
    border-radius: 1%;
    transition: 2s;
    opacity: 1;
    padding: 15px;
}
.artcontain:hover{
    box-shadow: none;
    transition: 0.2s;
    opacity: 1;
    transform: scale3d(1.1,1.1,1.1);
    z-index: 1000;

}

.artcontain h1{
    text-align: center;
    font-size: 1.6em;
    font-weight: bolder;
    letter-spacing: 5px;
    margin-top: 50px;
}

.skills-info .artcontain article p{
    font-size: 1.4em;
    text-shadow: 2px 2px 1px black;
}

/*---------------------------------- CONTACT INFO -------------------------------------*/

.contact-info{
    position: relative;
    height: 100%;
    min-height: fit-content;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 5%;
    background-image: linear-gradient(to right,
    transparent,
    rgb(36, 35, 77),
    transparent
);
}

.contact-info .icons{
    margin: auto;
    width: 400px;
    padding: 10px;
    justify-content: stretch;
}

.contact-info p{
    font-size: 1.4em;
    margin-bottom: 10px;
}

.form-control{
    transition: 0.2s;
    padding: 20px;
    margin: auto;
    display: block;
    width: 55%;
    margin-top: 5%;
    background-image: linear-gradient(to bottom,
        transparent, transparent, rgb(60, 17, 77)
    );
}

.form-control input{
    font-family: 'Merriweather', serif;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.2em;
    padding: 5px;
    background-color: rgb(1,31,101);
    color: white;
    border: none;
    text-align: center;
    outline: none;
}

.form-control input::placeholder{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-align: center;
}

.form-control textarea{
    margin-top: 5px;
    width: 100%;
    resize: none;
    font-family: 'Merriweather', serif;
    padding: 10px;
    background-color: rgb(1,31,101);
    color: rgb(191, 233, 243);
    outline: none;
    font-size: 1.2em;
}

.formdivs.error input{
    border: 2px rgb(255, 160, 82) solid;
}
.formdivs.success input{
    border: 3px rgb(60, 17, 77) solid;
}

.formdivs small{
    visibility: hidden;
    color: rgb(255, 160, 82);
    font-size: 1em;
    font-weight: bold;
}
.formdivs.error small{
    visibility: visible;
}

.circlediv{
    display: inline-block;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
    height: 60px;
    width: 60px;
}
.circlediv:hover{
    background-color: rgb(60, 17, 77);
    transition: 0.5s;
}
.sqrdiv{
    display: inline-block;
    border-radius: 30%;
    margin: 10px 10px 10px 10px;
    height: 60px;
    width: 60px;
}
.sqrdiv:hover{
    background-color: rgb(60, 17, 77);
    transition: 0.5s;
}

.contact-info .icons a img{
    margin: auto;
    height: 60px;
    width: 60px;
    transition: 1s;
    background-image: transparent;
}

#submitform{
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    height: 50px;
    width: 100px;
    margin-top: 15px;
    background-color: rgb(1,31,101);
    color: gray;
    border: none;
    outline: none;
    transition: 0.1s;
    box-shadow: 2px 2px 2px rgb(20, 20, 20);
}

#submitform:active{
    transition: 0.1s;
    color: white;
    font-weight: bold;
    transform: translate3d(2px, 2px, 2px);
    box-shadow: none;

}

/*---------------------- RESPONSIVE -----------------------*/

@media all and (max-width: 1024px){
    .background{
        object-position: -30vh;
    }
    .about-info{
        opacity: 1 !important;
    }
    *{
        animation: none !important;
    }
    .container{
        width: 100%;
    }
    .navbar{
        position: fixed;
        top: 0%;
        font-size: 1em;
        animation: none;
    }
    .navbar-left{
        margin: 0;
        background-color: black;
        text-align: center;
        position: fixed;
        height: fit-content;  
        width: 100%;
        top: 0%;
        left: 0%;
        line-height: 50px;
        transition: 1s;
        font-size: 1em;
        color: rgb(253, 246, 239);
        letter-spacing: 3px;
        opacity: 0.9;
        z-index: 1000;
        animation: none;
    }
    .meglog{
        animation: none !important;
        visibility: visible !important;
    }
    .navbar-left li{
        display: inline-block;
    }
    .navbar-left li a:hover{
        text-shadow: none !important;
    }
    .navbar-left ul{
        margin: 5px;
    }
    li a:hover{
        text-shadow: none;
    }
    .intro p{
        font-size: 1.4em;
        width: 100%;
        padding: 0;
        padding-top: 55%;
        margin: 0 auto;
    }
    .aboutarticle{
        width: 90%;
        margin: auto;
    }
    .about-info article h1{
        text-align: center;
        font-size: 1.8em;
        font-weight: bolder;
        animation: shadow 8s infinite ease-in-out;
    }
    
    .about-info article p{
        text-align: center;
        line-height: 50px;
        font-size: 1.5em;
        animation: shadow 8s infinite ease-in-out;
    }
    .skills-info{
        margin-top:15%;
    }
    .skills-info p{
        font-size: 1.2em;
    }
    .artcontain{
        width: 100%;
        height: fit-content;
        margin: 0px;
        padding: 15px;
        display: inline-block;
        opacity: 1;
        background-image: none;
        font-weight: bold;

    }
    .artcontain h1{
        font-size: 1.5em;
        margin: 0;
        text-shadow: 2px 2px 1px black;
    }
    .skills-info .artcontain article p{
        font-size: 1.1em;
        margin: 0;
        text-shadow: 2px 2px 1px black;
    }
    .button{
        visibility: hidden;
    }
    .contact-info{
        min-height:fit-content;
        margin-top: 5%;
    }
    .form-control{
        width: 80%;
    }
}

@media screen and (max-width: 375px){
    .background{
        object-position: -30vh;
    }
    .container{
        width: 100%;
    }
    .navbar{
        top:0;
        left: 0;
        font-size: 1em;
    }
    .navbar-left{
        position: fixed;
        top:0;
    }
    .navbar ul{
        margin: 5px;
    }
    .navbar-left ul{
        margin: 5px;
    }
    .intro p{
        margin-top:60%;
    }
    .about-info .aboutarticle{
        width: 100%;
    }
    .about-info .aboutarticle article h1{
        font-size: 1.5em;
    }
    .about-info .aboutarticle article p{
        font-size: 1.2em;
    }
    .skills-info p{
        font-size: 1.2em;
    }
    .contact-info{
        width: 100%;
        height:fit-content;
        margin-top: 5%;
    }
    .form-control{
        width: 100%;
        margin: 0;
    }
}